{% extends 'app/base.html' %}
{% block title %}Login{% endblock title %}
{% block content %}


{% if messages %}

{% for message in messages %}
<li>{{message}}</li>
{% endfor %}
{% endif %}

<form method="post">
    {% csrf_token %}
    <label for="">Username</label><br><br>
    <input type="text" name='username'> <br><br>
    <label for="">Password</label><br><br>
    <input type="password" name='password'><br><br>
    <input type="submit" value="Login">
    <a href="{% url 'register' %}">Register</a>

</form>

{% endblock content %}